@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #ccf3ee;
    --dark-color: #041c32;
}

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

#nav-bar {
    background-color: var(--primary-color);
    padding: 2% 5% 1.5%;
}

#nav-title {
    margin-left: 0;
    text-align: left;
    padding-bottom: 1rem;
}

#nav-link {
    padding-top: 0.5rem;
    text-align: right;
}

.list-item {
    display: inline-block;
}

a {
    padding-left: 1rem;
    text-decoration: none;
    color: var(--dark-color);
}

a:hover {
    color: slategray;
}

.container {
    margin: auto;
    text-align: center;
    width: 50%;
}

.container h1 {
    margin: 1rem;
    text-align: center;
}

.question-container {
    max-width: 100%;
    margin: auto;
    text-align: left;
}

.question {
    padding-top: 1rem;
}

label {
    padding: 0.75rem;
}

input {
    margin: 1rem 0;
}

#submit-ans-btn {
    font-size: medium;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--primary-color);
}

#output {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/* @media(max-width:600px){
    .question-container{
        max-width: 80%;
        margin: auto;
        text-align: left;
    }
} */